@inherits UmbracoViewPage<Umbraco.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    var eventDate = (ContentModels.EventDate)Model.Content;
}

<div class="col-md-6">
    <small>@eventDate.Date.ToString("dd MMM yyyy")</small>
    <h4>@eventDate.Headline</h4>
    <p>@eventDate.Description</p>


    @foreach(var session in eventDate.EventSessions)
    {
        var sessionContent = (ContentModels.EventSessions)session.Content;

        <div class="demo-eventSession">
            blabla
            <h2>@sessionContent.Time</h2>
            <p>@sessionContent.Headline</p>

            @if(sessionContent.Speakers != null){
                foreach (ContentModels.Person speaker in sessionContent.Speakers)
                {
                    <img class="demo-eventSession__speaker" src="@(speaker.Photo.Url)?width=120&height=120" alt="@speaker.Name" />
                }
            }
        </div>
    }

    
</div>